node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
.pnpm-debug.log


logs/
*.log
*.log.*


pids/
*.pid
*.seed
*.pid.lock


.env
.env.local
.env.*.local

uploads/


.vscode/
.idea/
*.swp
*.swo
*.swn
*.bak

.DS_Store
Thumbs.db
